* {
    margin: 0;
    padding: 0;
}

.card_container {
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin: 25px;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
}

.card_container:hover {
    background-color: whitesmoke;
}

.text {
    font-family: "Verdana", "Orbitron";
}

.loading_text {
    font-family: "Verdana", "Orbitron";
    font-size: 30px;
    font-weight: 500;
    padding: 15px 0px;
    color: darkslategrey;
}

.image_card {
    aspect-ratio: 1/1;
    mix-blend-mode: multiply;
    background-color: gainsboro;
    border-radius: 5px;
    max-width: 200px;
    max-height: 200px;
}

.text_info_container_card {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}

.name_text {
    font-weight: 600;
    font-size: 24px;
}

.index_info_container_card {
    display: flex;
    flex-direction: row;
}

.index_hashtag {
    color: dimgrey;
    font-weight: 600;
    font-size: 18px;
}

.index_value {
    color: dimgrey;
    font-weight: 600;
    font-size: 18px;
}