* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding-bottom: 8px;
    padding-left: 5px;
    padding-right: 5px;
}

.text {
    font-family: "Verdana";
}

.image {
    aspect-ratio: 1;
    mix-blend-mode: multiply;
    background-color: gainsboro;
    border-radius: 5px;
    max-width: 150px;
    max-height: 150px;
}

.text_info_container {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}

.name_text {
    font-weight: 600;
    font-size: 24px;
}

.index_info_container {
    display: flex;
    flex-direction: row;
}

.index_hashtag {
    color: dimgrey;
    font-weight: 600;
    font-size: 18px;
}

.index_value {
    color: dimgrey;
    font-weight: 600;
    font-size: 18px;
}