* {
    margin: 0;
    padding: 0;
}

.page_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    font-family: "Verdana", "Orbitron";
}

.return_button {
    background-color: transparent;
    border: none;
    color: #888;
    font-size: 2rem;
    top: 1rem;
    left: 1rem;
    cursor: pointer;
}

.pokedex_details { 
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 25px;
    /* margin-left: 30px;
    margin-right: 30px; */
}

.pokedex_left {
    flex: 1;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pokedex_right {
    flex: 1;
    padding-left: 15px;
    padding-right: 15px;
}

.image {
    aspect-ratio: 1/1;
    max-width: 300px;
    max-height: 300px;
    mix-blend-mode: multiply;
    background-color: gainsboro;
    border-radius: 15px;
}

.text_info_container {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.name_text {
    font-weight: 600;
    font-size: 36px;
}

.index_info_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.index_hashtag {
    color: dimgrey;
    font-weight: 600;
    font-size: 24px;
}

.index_value {
    color: dimgrey;
    font-weight: 600;
    font-size: 24px;
}

.type_info_container {
    text-align: center;
    display: flex;
    justify-content: center;
}

.type_label_text {
    font-weight: 400;
    font-size: 28px;
    margin-right: 25px;
}

.type_text {
    font-weight: 500;
    font-size: 28px;
}

.description_text {
    text-align: center;
    padding: 5px 0px;
    font-size: 24px;
}

.stats_container {
    display: flex;
    flex-direction: column;
}

.stat_line_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.subsection_heading {
    font-family: "Verdana";
    font-weight: 600;
    font-size: 28px;
    margin: 5px 0px;
}

.evolutions_container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.stages_container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.evolution_container {
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
}

.evolution_img {
    aspect-ratio: 1/1;
    max-width: 100px;
    max-height: 100px;
    mix-blend-mode: multiply;
    background-color: gainsboro;
    border-radius: 5px;
}

.stat_bar_div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    outline: solid gray 1px;
    padding: 1px;
    margin: 3px 0px;
}


.progress_div {
    background-color: lightgreen;
    width: 100%;
    padding: 3px 0px;
    
}

.stat_text {
    margin: 1px 3px;
    font-size: 20px;
}

.stat_text_div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 700px) {
    .pokedex_details { 
        display: flex;
        flex-direction: column;
        width: 100%;
        /* margin-left: 30px;
        margin-right: 30px; */
    }
}